header {
    background-color: #E0FFFF;
  }
  
  nav {
    background-color: #8FBC8F;
    padding: 10px;
  }
  
  ul li {
    list-style: none;
  }
  
  main {
    background-color: #DCDCDC;
  }
  
  footer {
    background-color: #F08080;
  }
  
  main p {
    color: #CD5C5C;
    width: 500px;
    margin: 10px;
    font-size: 30px;
  }
  
  h1 {
    color: #191970;
  }
  
  body {
    display: grid;
    grid-gap: 1vh;
    grid-template-rows: auto auto 1fr auto;
  }
  
  
  @media (min-width: 40em) {
    body {
      grid-template-columns: 12em 1fr;
      grid-template-rows: auto 1fr auto;
    }
  
    header {
      grid-column: span 2;
    }
  
    nav {
      grid-row: span 2;
    }
  }
  